* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

.container {
  text-align: center;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

header {
  grid-column: 2 / end;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 2fr;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
}

.search-container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 18px;
  padding: 0 30px;
}

.icons {
  height: 24px;
}

#search {
  height: 24px;
  background-color: lightgray;
  border: none;
  border-radius: 10px;
}

.user-info {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  justify-items: end;
  gap: 30px;
  padding-right: 20px;
}

.user-avatar {
  max-height: 44px;
  object-fit: cover;
  border-radius: 40px;
}

.welcome-user {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  align-items: center;
  text-align: start;
  gap: 14px;
  padding-left: 32px;
}

.welcome-user .user-avatar {
  max-height: 74px;
}

.header-buttons {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.btn {
  width: 100px;
  height: 40px;
  font-size: 0.9rem;
  font-weight: 700;
  color: white;
  background-color: rgb(31, 139, 215);
  padding: 8px 18px;
  border: none;
  border-radius: 18px;
}

main div {
  border: 2px solid black;
}

aside {
  color: white;
  background-color: #45a9e7;
  grid-row: 1 / end;
  display: grid;
  grid-template-rows: 80px 2fr 1fr;
  gap: 10px;
  padding-bottom: 200px;
}

aside .icons {
  filter: invert(100%);
}

.aside-header {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  gap: 12px;
  padding-top: 16px;
  padding-left: 16px;
}

.aside-header .icons {
  height: 40px;
}

.navigation,
.utilities {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  align-items: center;
  align-content: space-evenly;
  padding-left: 20px;
  text-align: start;
  column-gap: 18px;
  font-weight: 700;
  font-size: 1.2rem;
}

main {
  background-color: yellow;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.projects {
  grid-row: 1 / end;
}

.announcements {
  grid-column: 2 / end;
}

.trending {
  grid-row: 2 / end;
}
