body,
html {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

.container {
  text-align: center;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

header {
  grid-column: 2 / end;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 2fr;
}

div {
  border: 2px solid black;
}

aside {
  background-color: #005b94;
  grid-row: 1 / end;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  gap: 60px;
  padding-bottom: 200px;
}

main {
  background-color: yellow;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.projects {
  grid-row: 1 / end;
}

.announcements {
  grid-column: 2 / end;
}

.trending {
  grid-row: 2 / end;
}